<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <!-- Main Page-->
 <div data-role="page" id="startpage">
	<div data-role="header">
		<h1>Beam Me from A to B</h1>
		<div class="ui-nodisc-icon">
			<a href="#Page2" class="ui-btn ui-btn-inline ui-btn-icon-right ui-icon-gear ui-btn-right">Options</a>
		</div>
	</div>

	<div date-role="main" class="ui-content">

     	<label for="autocomplete"><b>Start Location</b></label>
     	<input type="text" onFocus="geolocate()" name="location" id="autocomplete" placeholder="Set your starting location" value="" data-mini="true" maxlength="80" data-wrapper-class="ui-custom" />

		<label for="autocomplete2"><b>End Location</b></label>
		<input type="text" onFocus="geolocate()" name="end_location" id="autocomplete2" placeholder="Set your end location" value="" data-mini="true" maxlength="80" data-wrapper-class="ui-custom" />

		<a href="#secondpage" class="ui-btn" id="btnGetGeo">Search</a>
    </div>

	<div data-role="footer" data-position="fixed">
		<h4>Page Footer</h4>
	</div>
</div>

    <!-- Second Page Page-->
<div data-role="page" id="secondpage">
	<div data-role="header">
		<p align="middle">Result<p>
		<a href="#startpage" class="ui-btn ui-btn-icon-left ui-icon-back ui-btn-left">Back</a>
	</div>

	<div date-role="main" class="ui-content">
    	<div id="resultDivStart">
        </div>
        <br>
        <div id="resultDivEnd">
        </div>
    </div>


	<div data-role="footer" data-position="fixed">
		<h4>Page Footer</h4>
	</div>
</div>


  	<script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
  	<script type=text/javascript src="{{url_for('static', filename='script.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIrSNzkA1opCqivwJYXXRwEJkwKPKKCjE&libraries=places&callback=initAutocomplete"
        async defer></script>
</body>

</html>